
<div *ngIf="billDetails">
    <h2><span jhiTranslate="billDetailsApp.billDetails.detail.title">Bill Details</span> {{billDetails.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="billDetailsApp.billDetails.date">Date</span></dt>
        <dd>
            <span>{{billDetails.date | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="billDetailsApp.billDetails.name">Name</span></dt>
        <dd>
            <span>{{billDetails.name}}</span>
        </dd>
        <dt><span jhiTranslate="billDetailsApp.billDetails.billNumber">Bill Number</span></dt>
        <dd>
            <span>{{billDetails.billNumber}}</span>
        </dd>
        <dt><span jhiTranslate="billDetailsApp.billDetails.phoneNumber">Phone Number</span></dt>
        <dd>
            <span>{{billDetails.phoneNumber}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'bill-details/'+ billDetails.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
